#calender {
    width: 90%;
    margin: 0 auto;
}
#header {
    font-size: 2rem;
    font-weight: bold;
    height: 50px;
}
#days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-left: 5px;
}
#dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 1px solid;
    border-right: 1px solid;
}
.date-block {
    height: 10vh;
    border-top: 1px solid;
    border-left: 1px solid;
    padding: 5px;
}
.date-block.empty {
    background-color: #eee;
}
#info-panel {
    display: none;
    position: fixed;
    width: 250px;
    top: 50px;
    right: 30%;
    border: 1px solid #ccc;
    background-color: white;
}
#info-panel.open {
    display: block;
}
#info-panel .close {
    position: relative;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
#info-panel label {
    color: #ccc;
    font-size: 0.8rem;
}
#info-panel .title, #info-panel .time-picker {
    border-bottom: 1px solid #ccc;
}
#info-panel .title, #info-panel .time-picker, #info-panel .description {
    padding: 10px;
}
.selected-date {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}
#description {
    width: 100%;
}
#info-panel button {
    display: none;
}
#info-panel.new button.create, #info-panel.new button.cancel {
    display: block;
    float: left;
    width: 50%;
}
#info-panel.update button.update, #info-panel.update button.cancel, #info-panel.update button.delete {
    display: block;
    float: left;
    width: 50%;
}
#info-panel.update button.delete {
    width: 100%;
}
